/*!
 *  by Mia Kotalik - http://miakotalik.com/
 */

.test-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.quote {
    color: palevioletred;
    font-weight: bold;
}
.testimonials-text {
    padding-top: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
    color: palevioletred;
}
.position {
    color: palevioletred;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

#contactForm {
    padding-top: 3rem;
}
.contact-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.newsletter-text {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.quick-links {
    padding-left: 5rem;
}
.quick-link {
    color: white !important;
    text-decoration: underline;
}
.counter {
    font-size: 3rem;
}

.img-proj:hover {
    transform: scale(1.1);
}
.img-proj {
    height: 50% !important;
    width: 50% !important;
    padding-bottom: 0.5rem;
}
.passion-img:hover {
    transform: scale(1.1);
}
.numbers {
    padding-bottom: 10rem;
}
.background-blue {
    background-color: #29bae4 !important;
}
.project-list {
    padding-bottom: 10rem;
}
.projects-text {
    padding-top: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}
.projects-subtext {
    color: gray;
}

.projects-subtext-header {
    padding-left: 10rem;
    padding-right: 10rem;
}
.pink-bold {
    color: palevioletred;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    color: palevioletred;
    background-color: #fce7f1 !important;
    border-color: #fce7f1 !important;
}
.about-text {
    font-size: 2rem;
    padding-top: 10rem;
    line-height: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.mission-text {
    font-size: 3rem;
    padding-bottom: 7rem;
}

.box {
    width: 20rem;
    height: 20rem;
}
.box-area {
    padding-bottom: 3rem;
}
.pink {
    background: #fa939b;
}
.green {
    background: #46db4e;
}
.orange {
    background: #ffb35f;
}
.blue {
    background: #438bcc !important;
}

.text-blue {
    color: #438bcc !important;
}

.background-pink {
    background: #ffddcf;
}
.background-darkpink {
    background: #f09795;
}
.para {
    /* The image used */
    background-image: url("../img/aboutPara.png");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.join-button {
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.gray-section {
    background-color: aliceblue;
}

.background-white {
    background-color: white;
}

.header-btns {
    z-index: 5;
    position: relative;
}

.header {
    padding-top: 20rem;
}
.header-text {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
}
.header-btns {
    padding-top: 3rem;
}

.empower-btn {
    padding-right: 1rem;
}

.workshops-btn {
    padding-left: 1rem;
}

.font-white {
    color: white;
}

.heading {
    z-index: 1;
}

.header-text {
    font-size: 5rem;
    color: white;
}

.nav-bar-social-icons {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(240, 151, 149); /* IE */
    background: rgba(240, 151, 149 0.78); /* NON-IE */
}

.navbar {
    height: 5rem;
    color: white !important;
}

a.navbar-brand {
    color: white !important;
}

a.nav-link {
    color: white !important;
}

.jumbotron-button {
    padding-top: 5rem;
}

.background-gray {
    background-color: #f8faff;
}

.text-white {
    color: white !important;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.JPG);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 30rem;
}
.home-images {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.home-image {
    padding-bottom: 2rem;
}

.home-text {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home-block-text {
    padding-top: 2rem;
}

.above-button-padding {
    padding-bottom: 2rem;
}
.contact-background {
    background-image: linear-gradient(to bottom right, #ef7bb0, #f0ae7d);
}
.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 22rem;
    background-image: linear-gradient(to bottom right, #ef7bb0, #f0ae7d);
    color: white;
    text-align: center;
}

.background-gradient {
    background-image: linear-gradient(to bottom right, #ef7bb0, #f0ae7d);
}

.footer-list {
    list-style-type: none;
}

a.footer-list-text {
    color: #a3826c;
    text-decoration: underline;
}

.footer-social-icon {
    padding-right: 0.5rem;
    color: white;
}

.footer-text {
    padding-top: 4rem;
}

footer.footer.background-blue {
    padding-top: 5rem !important;
}

.navbar-toggler {
    background-color: #a3826c !important;
    border: 1px solid #a3826c !important;
}

.navbar-toggler-icon {
    color: white !important;
}

.dropdown-menu.show {
    background: #a3826c;
    color: white;
}
